/*===================GENERICS===============*/
body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
.section-title{
    padding-top: 90px;
    padding-bottom: 50px;
}
.section-title h1 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;

}
.section-title h1:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #01f50e;
    margin-left: -30px;
}
.label-all{
    color:lightyellow;
}
/*$$$$$$$$$$$$$$$$$$$$$$$ home jsp $$$$$$$$$$$$$$$$$$$$$$$*/

/*===================HEADER===============*/

.header{
width: 100%;    
}
.header-overlay{
    padding-top: 80px;
    
}
.picture-1{
    width: 120px;
    padding-left: 380px;

}
#alter{
    width:380px;
    height:332px;
}
.centers{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-right: 50px;
}
.boton{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*===================Gallery===============*/
.gallery{
    
}

.gallery-overlay{
    padding-top: 280px;
    padding-bottom: 280px;
}
.image-pics{
    width:380px;
    height:300px;
    border: 2px solid #01f50e;
    border-radius: 5%;
    padding: 3px;

}
.division{
    padding-top: 25px;
    padding-bottom: 25px;
}
/*===================Conctact===============*/
.separ{
    padding-left: 280px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}
/*===================Footer===============*/
.copys{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*$$$$$$$$$$$$$$$$$$$$$$$ Reservation jsp $$$$$$$$$$$$$$$$$$$$$$$*/

.section-reserv{
  
}
.reserva-inner .item img{
    border: 2px solid #01f50e;
    border-radius: 10%;
    padding: 3px;
}
.reserva-inner{
    padding-top: 10px;
    padding-bottom: 40px;
}
.back-ground{
   
    background-color: rgba(31, 31, 0, 0.25);
}
.back-grounded {
    background-image: url("../images/p6.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    
}
.color-footer{
    background-color: rgba(32, 255, 2, 0.459);
}
.color-footer-strong{
    background-color: rgba(9, 245, 71, 0.63);
    padding-top: 10px;
    padding-bottom: 10px;
}
.copys1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$ confirmation.sp $$$$$$$$$$$$$$$$$$$$$$$*/
.back-ground1{
    background-color: rgba(31, 31, 0, 0.25);
}
.back-grounded1 {
    background-image: url("../images/p10.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  

    
}

.reserva-inners .item img{
    border: 2px solid #01f50e;
    border-radius: 50%;
    padding: 3px;
}
#alters{
    width:300px;
    height:290px;
}
.section-reserv1{

}
#alterk{
    width:780px;
    height:332px;
}